
.inter-font {
  font-family: "Inter";
  font-optical-sizing: auto;
}
body{
    margin: 0 auto;
}

nav,.hero{
    margin : 0 auto;
}
.hero{
    margin-bottom: 0px;
}



/* shared-style */

.section-heading{

}

.gredient-text{
    
    
    color: linear-gradient(to-right, #F7E93F, #FB09B4 ,#9100F8) ;
    
}

.gredient-bg-color{
    
}

.btn{
    padding: 13px 16px;
    border-radius: 20px;
    font-weight: 600;
    background-image: linear-gradient(to-right, #F7E93F, #FB09B4 ,#9100F8);

    cursor: pointer;
    
}

hr{
    margin: 0 auto;
    padding: 0 0;
}

.hero *>:last-child{
    margin-bottom: 0px;
}
#about *>:first-child{
    margin-top: 0px;
}





/* main styles */
.logo h2{
    color: #ffffff;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
    padding: 30px 0;
    max-width: 1600px;
    max-height: 92px;
}

nav ul{
    display: flex;
    gap: 30px;
}


nav ul li{
    list-style: none;
    
}

nav ul a{
    text-decoration: none;
    color: #ffffff;
}


.hero{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    
    background-size: 1600px auto;
    max-width: 1600px;
}

.icon {
  display: grid;
  place-items: center;      
  width: 350px;
  height: 350px;
  margin-top: 100px;
  margin-bottom: 0px;
}


.icon img {
  grid-area: 1 / 1;   
  object-fit: cover;  
}

.outer-circle {
  
}

.overlay-img{
  z-index: 1;
}


.background-img {
  display: block;
}

.hero-about{
    
    text-align: center;
}
.hero-about h1{
    font-size: 60px; 
    color: #ffffff;
    margin-bottom: 0;
}
.hero-about p{
    font-size: 16px;
    color: #ffffff;
}

.hero .btn{
    margin-bottom: 100px;
}

#about{
    margin:0 auto;
    max-width: 1600px;
    background-color: #1A0B2E;

    
    
}

#about .about-about{
    text-align: center;
    
}

#about .about-about h1{
    font-size: 48px;
    padding-top: 80px;
    color: #ffffff;

}

#about .about-about p{
    color: #ffffff;
    line-height: 20px;
}

#card-section{
    
    color: #ffffff;
    display: flex;
    gap: 80px;
    justify-content: center;
    margin-top: 80px;
    text-align: center;
    line-height: 20px;
    
}

.card{
    padding: 5px 10px ;
    margin-bottom: 80px;
}
.card h1{
    color: #00ff88;
    font-size: 48px;
}


#grid-section{
    text-align: center;
    background-color: #230E3D;
    max-width: 1600px;
    margin: 0 auto;
}
#grid-section h1,
#feature h1{
    font-size: 48px;
    color: #ffffff;
    padding-top: 120px;
    padding-bottom: 40px;
}

.paq{
    grid-area: paq;
}

.mf{
    grid-area: mf;
}

.gc{
    grid-area: gc;
}

.ei{
    grid-area: ei;
}
.rr{
    grid-area: rr;
}



.grids-all section{
    
    background-color: #351165 ;
    border-radius: 20px;
    padding: 20px 4cap;
    
    
}

.grids-all h3,
.card-all h3{
    color: #ffffff;
    font-size: 24px;
}

.grids-all p,
.card-all p,
.about-host p{
    color: #ffffff75;
    font-size: 16px;
}

.grids-all .paq{
    padding-top: 120px;
}



.grids-all{
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
    
    text-align: left;
    justify-content: center;
    vertical-align: center;
    grid-template-areas:
    "paq mf mf" 
    "paq gc gc"
    "ei ei rr";
}


#feature{
    background-color: #1A0B2E;
    text-align: center;
    max-width: 1600px;
    margin: 0 auto;
}
.cards-all{
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    text-align: left;
    margin: 0 auto;
    border-radius: 10px;
    
}

.timer{
    display: flex;
    gap: 10px;
    align-items: center;
}
.timer p{
    color: #00ff88;
    font-weight: 500;
}

.card-all{
    
    max-width: 380px;
    box-shadow: 5px 5px 5px 1;
    
}

.card-all iframe{
    width: 380px;
}

.iframe-contant{
    padding-left: 20px;
    background-color: #250D44;
}

.host-section{
    background-color:#35116589;
    max-width: 1200px;
    margin: 0 auto;
}

.host-section{
    display: flex;
    gap: 30px;
    align-items: center;
    border-radius: 20px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.about-host{
    text-align: left;
}

.about-host h4{
    color: #ffffff;
    font-size: 32px;
    margin-bottom: 0px;
}

.social-img{
    display: flex;
    align-items: center;
    gap: 5px;
}

.social-img img{
    border: 1px solid red;
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 12px;
}

footer .content{
    background: url(../assets/footer-bg.png);
    background-repeat: no-repeat;

    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    
}

.content h1{
    font-size: 56px;
    color: white;
    padding-top: 100px;
}


.images{
    display: flex;
    justify-content: center;
    gap: 25px;
    vertical-align: center;
    
}

.single-img{
    display: flex;
    align-items: center;
    gap: 15px;
}

.single-img p{
    color: #ffffff75;
}

.para{
    color: #ffffff75;
    padding-bottom: 60px;
    
}