
.inter-font {
  font-family: "Inter";
  font-optical-sizing: auto;
}

body*>{
    margin : 0 auto;
}



/* shared-style */

.section-heading{

}

.gredient-text{
    
    
    color: linear-gradient(to-right, #F7E93F, #FB09B4 ,#9100F8) ;
    
}

.gredient-bg-color{
    
}

.btn{
    padding: 13px 16px;
    border-radius: 20px;
    font-weight: 600;
    background-image: linear-gradient(to-right, #F7E93F, #FB09B4 ,#9100F8);

    cursor: pointer;
    
}

hr{
    margin: 0 auto;
    padding: 0 0;
}





/* main styles */
.logo h2{
    color: #ffffff;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
    padding: 30px 0;
    max-width: 1600px;
    max-height: 92px;
}

nav ul{
    display: flex;
    gap: 30px;
}


nav ul li{
    list-style: none;
    
}

nav ul a{
    text-decoration: none;
    color: #ffffff;
}


.hero{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    background: url(/assets/hero-bg.png);
    background-repeat: no-repeat;
    
    background-size: 1600px auto;
    max-width: 1600px;
}

.icon {
  display: grid;
  place-items: center;      
  width: 350px;
  height: 350px;
  margin-top: 100px;
  margin-bottom: 0px;
}


.icon img {
  grid-area: 1 / 1;   
  object-fit: cover;  
}

.outer-circle {
  
}

.overlay-img{
  z-index: 1;
}


.background-img {
  display: block;
}

.hero-about{
    margin:40px 0 100px;
    text-align: center;
}
.hero-about h1{
    font-size: 60px;
    color: #ffffff;
    margin-bottom: 0;
}
.hero-about p{
    font-size: 16px;
    color: #ffffff;
}

